<!-- i am going to have this form connect to /create -->
<!-- protip: Form values are submitted as Query strings AKA req.params -->
<form action="/create" method="post">
    <input type="text" name="name" placeholder="name of party" required>
    <input type="text" name="host_name" placeholder="who is throwing this shindig?" required>
    <input type="text" name="location" placeholder="description">
    <input type="submit" value="Add this !@#ing party!"></input>
</form>